.blog {
    padding-top: 35px;
    padding-bottom: 25px;
}

@media (min-width: 992px) {
    .blog {
        padding-top: 70px;
        padding-bottom: 45px;
    }
}

.posts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 40px;
    margin-bottom: 35px;
}

@media (min-width: 992px) {
    .posts-wrapper {
        margin-bottom: 75px;
    }
}